<div class="wrap">
  <div class="card box">
    <h1>Changer le mot de passe</h1>
    <p class="hint">Première connexion : merci de définir un mot de passe personnel.</p>

    <form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
      <div class="field">
        <label for="a">Ancien mot de passe</label>
        <input id="a" type="password" formControlName="ancien" autocomplete="off" />
      </div>
      <div class="field">
        <label for="n">Nouveau mot de passe</label>
        <input id="n" type="password" formControlName="nouveau" autocomplete="off" />
      </div>

      <div class="error" *ngIf="error">{{ error }}</div>
      <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
  </div>
</div>
